@font-face {
	font-family: 'ProximaNova-Regular';
	src: url('fonts/ProximaNova-Regular.otf');
}
@font-face {
	font-family: 'ProximaNova-Semibold';
	src: url('fonts/ProximaNova-Semibold.otf');
}

html{
	background: #fff;
	font-size: 14px;
	width: 100%;
	box-sizing: border-box;
	font-family: 'ProximaNova-Regular', sans-serif;
}

.max_width_wrapper{
	width: 1280px;
	position: relative;
	left: 50%;
	margin-left: -640px;
}

header, #banner, #steps, #items, #whyus, #customers, #notifyme, footer{
	min-width: 1280px;
}

header{
	color: #8f97a2;
	height: auto;
	box-sizing: border-box;
}

.hamburger_menu{
	display: none;
}

header h1{
	float: left;
	margin-left: 130px;
	margin-top: 35px;
	margin-bottom: 0;
}
header nav#uppernav ul{
	list-style: none;
	top: 0;
	right: 130px;
	position: absolute;
	margin-top: 0;
}
header nav#uppernav ul li{
	background: #5dade2;
	color: #fff;
	padding: 10px 20px;
	float: left;
	margin: 0 0 0 20px;
	font-size: 1.2em;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-bottom-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;	
}
header nav#lowernav{
	overflow: hidden;
}

header nav#lowernav ul{
	list-style: none;
	margin: 70px 120px 0 0;
}
header nav#lowernav ul li{
	float: right;
	margin-left: 20px;
	font-size: 1.00em;
	padding-bottom: 40px;
	padding-left: 10px;
	padding-right: 10px;
	text-decoration: none;
}
header nav#lowernav ul li.current{
	color: #202427;
	border-bottom: 3px solid #41c6ef;
}

header a{
	text-decoration: none;
	color: inherit;
}

#dropdown_menu{
	display: none;
}

body{
	margin: 0 0 0 0;
}

.arrow-down {
	position: absolute;
	text-align: center;
	width: 0; 
	height: 0; 
	top: 0;
	left: 50%;
	margin-left: -50px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
}

#banner{
	position: relative;
	height: 525px;
	background-color: #dddddd;
	background-image: url('images/stock_photo.jpg');
	background-size: 100% auto;
	background-position: 10% 80%;
	background-repeat: no-repeat; 
	filter: blur(5px);
	// Browser Specific
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
}
#banner h1{
	width: 100%;
	margin-top: 60px;
	position: absolute;
	font-size: 3.5em;
	text-align: center;
	color: #fff;
	font-family: 'ProximaNova-Semibold', sans-serif;
}

#bannernav{
	position: absolute;
	top: 150px;
	text-align: center;
	box-sizing: border-box;
	width: 600px;
	left: 50%;
	margin-left: -300px;
}

#bannernav ul{
	list-style: none;
	color: #fff;
	position: absolute;
	margin-top: 0;
}

#bannernav ul li{
	float: left;
	margin-left: 20px;
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 1.33em;
}

#bannernav ul li.getstarted{
	background: #68cae3;
	padding:20px 0;
	font-size: 1.428em;
	text-align: center;
	box-sizing: border-box;
	width: 181px;
	height: 60px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 60px;
}

#bannernav ul li.appstore{
	margin-top: 20px;
}

#bannernav ul li img{
	margin-top: -20px
}

#banner #iphone_on_side{
	position: absolute;
	bottom: 5px;
	right: 180px;
}

#steps h1{
	text-align: center;
	margin-top: 60px;
	color: #1795C2;
}

#steps h2{
	text-align: center;
	width: 100%;
	clear: both;
	font-size: 2.0em;
	margin-top: 30px;
	padding-bottom: 30px;
	color: #1795C2;
}

#steps_wrapper{
	padding: 20px 0;
}

#steps ul{
	list-style-image: url('images/checkmark_bullet.png');
	font-size: 1.2em;
	margin: 0 0 0 0;
	overflow: hidden;
	margin-left: 8%;
}

#steps ul li{
	width: 24%;
	float: left;
}

#steps ul li h3{
	margin-left: 2px;
	color: #1795C2;
}

#steps ul li p{
	width: 80%;
	margin-left: 2px;
	color: #9097aa;
}

.circular_wrapper{
	height: 10px;
	width: 10px;
	margin-left: 100px;
	margin-top: 20px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	background: #cccccc;
}

.circular_wrapper.current_page{
	background: #2496dc;
}

#items{
	background: #f5f7f6;
	position: relative;
	overflow: hidden;
	padding-bottom: 100px;
}

#items .arrow-down{
	border-top: 50px solid #fff;
}

#items h2{
	font-size: 2.0em;
	clear: both;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 40px;
}

#items #recentlyadded, #items #justsold{
	list-style: none;
	width: 100%;
	margin-left: 168px;
	padding-left: 0;
	padding-bottom: 5px;
	overflow: hidden;
}

#items .scroll_button{
	margin-top: 100px;
	cursor: pointer;
}

#items .left{
	float: left;
}

#items .right{
	float: left;
	margin-left: 35px;
}

#items #recentlyadded li.item_feature, #items #justsold li.item_feature{
	float: left;
	background: #fff;
	color: #333;
	text-align: center;
	margin-left: 35px;
	height: 250px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-moz-box-shadow:    1px 3px 2px 2px #e1e2e4;
	-webkit-box-shadow: 1px 3px 2px 2px #e1e2e4;
	box-shadow:         1px 3px 2px 2px #e1e2e4;	
	text-align: left;
	padding-bottom: 0;

}
#items #recentlyadded li h3, #items #justsold li h3{
	margin-left: 10px;
	font-size: 1em;
	font-family: 'ProximaNova-Semibold', sans-serif;
}
#items #recentlyadded li p, #items #justsold li p{
	color: #9097aa;
	margin-left: 10px;
	font-size: 0.8em;
}

#items h2.sold{
	margin-top: 60px;
	color: #1795C2;
}

li.inactive{
	display: none;
}

li.active img{
	width: 240px;
	height: 180px;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;	
}

li #image-placeholder{
	background: #cccccc;
	color: #333;
	width: 240px;
	height: 180px;
	text-align: center;
	margin: -11px 0 0 0;
	-webkit-border-top-left-radius: 5px;
	-moz-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-top-right-radius: 5px;
	border-top-right-radius: 5px;	
}

#items h2.green_button{
	font-size: 1.5em;
	margin: 50px 0 0 0;
	padding: 15px auto;
	margin-left: 570px;
}

#whyus{
	background: #41c6ef;
	position: relative;
	overflow: hidden;
	color: #fff;
	margin-bottom: -10px;
}

#whyus .arrow-down{
	border-top: 50px solid #f5f7f6;
}

#whyus h1{
	text-align: center;
	width: 100%;
	font-size: 2.5em;
	margin-top: 100px;
	padding-bottom: 30px;
}

#whyus .column{
	float: left;
	width: 310px;
	margin-left: 50px;
}

#whyus #left_column{
	margin-left: 100px;
}

#whyus .column h3{
	font-family: 'ProximaNova-Semibold', sans-serif;
	font-size: 1.4em;
	margin-top: 0;
}

#whyus .column p{
	line-height: 1.5;
	font-size: 1.1em;
	color: #c0e9fb;
}

#customers{
	background: #fff;
	position: relative;
	overflow: hidden;
	padding-bottom: 40px;
}

#customers .arrow-down{
	border-top: 50px solid #41c6ef;
}

#customers .circular_wrapper{
	height: 125px;
	width: 125px;
	margin-left: 112px;
	margin-top: 20px;
}

#customers h1{
	text-align: center;
	margin: 0 0 0 0;
	font-size: 2.5em;
	padding-top: 100px;
	padding-bottom: 30px;
	color: #1795C2;
}

#customers ul{
	list-style: none;
}

#customers ul li{
	width: 350px;
	position: relative;
	margin-left: 50px;
	float: left; 
	text-align: center;
}

#customers ul li.first{
	margin-left: 20px;
}

#customers ul li .quote_wrapper{
	background: #edeef0;
	color: #959cac;
	box-sizing: border-box;
	padding: 15px 20px;
	height: 100px;
	font-size: 1.1em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

#customers ul li .quote_wrapper .arrow-down {
	position: absolute;
	text-align: center;
	width: 0; 
	height: 0; 
	top: 100px ;
	left: 50%;
	margin-left: -10px;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #edeef0;
}

#customers ul li p {
	margin-top: 10px;
}

#notifyme{
	background: #223442;
	position: relative;
	overflow: hidden;
}

#notifyme h1{
	color: #fff;
	padding: 50px 0px;
	font-size: 2.5em;
	margin: 0 0 0 50px;
	font-weight: 100;
}

#notifyme a, #items a{
	color: #fff;
	text-decoration: none;
}

h2.green_button{
	background: #41c6ef;
	font-size: 1.5em;
	width: 140px;	
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

#notifyme .green_button{
	position: absolute;
	top: 50%;
	right: 80px;
	margin-top: -25px;
}

footer{
	color: #606c7a;
	background: #152837;
	overflow: hidden;
}

footer ul{
	list-style: none;
	margin: 0 0 0 0;
	padding: 50px 35px;
	float: left;
}

footer ul li{
	float: left;
	margin-left: 20px;
}

footer span{
	padding: 50px 0;
	float: right;
	margin-right: 75px;
}

@media all and (max-width: 568px){

	html{
		font-size: 16px;
	}

	header, #banner, #steps, #items, #whyus, #customers, #notifyme, footer{
		min-width: 0;
	}

	.max_width_wrapper{
		width: 100%;
		max-width: 568px;
		margin: 0 0 0 0;
		left: 0;
	}

	header{
		height: 87px;
		z-index: 99;
		width: 100%;
	}

	.hamburger_menu{
		display: block;
		float: right;
		margin: 25px 7% 0 0;
		cursor: pointer;
	}

	header h1{
		margin: 18px 0 0 10px;
	}
	header #uppernav, header #lowernav{
		display: none;
	}

	#dropdown_menu{
		margin:0 0 0 0;
		padding: 0 0;
		width: 100%;
	}

	#dropdown_menu a{
		text-decoration: none;
		color: #fff;
	}

	#dropdown_menu ul{
		list-style: none;
		padding: 0 0;
		background: #68cae3;
		margin-bottom: 0;
	}

	#dropdown_menu li{
		width: 100%;
		text-align: center;
		border-top: 1px solid #fff;
		font-size: 1.5em;
		padding: 10px 0;
	}

	#banner{
		z-index: -1;
		height: 310px;
		background-image: none;
		background: #999;
		position: relative;
		height: auto;
	}

	#banner h1{
		font-size: 2.8em;
		width: inherit;
		padding: 30px 10px;
		margin: 5px 0 10px 0;
		position: relative;
	}

	#bannernav{
		top: 0;
		position: relative;
		width: auto;
		left: 0;
		margin-left: 0;
	}

	#bannernav ul{
		position: relative;
		line-height: 4;
		margin: -25px 0 0 -25px;
		padding-left: 15px;
	}

	#banner #iphone_on_side{
		display: none;
	}

	#steps_wrapper{
		padding: 20px 10%;
	}

	#steps ul{
		margin-left: 0;
	}

	#bannernav ul li{
		width: 90%;
		float: none;
	}

	#bannernav ul li.getstarted{
		margin-top: 0;
		padding: 20px 0;
		line-height: 1;
		margin-left: calc(50% - 90px);
	}

	#bannernav ul li.appstore{
		margin-left: 5%;
	}

	#bannernav ul li img{
		margin-top: 0;
	}


	#steps h1{
		display: none;
	}

	#steps h2{
		width: auto;
		padding: 0 20px;
		margin: 0 0 0 0;
		font-size: 1.5em;
		padding-bottom: 40px;
	}

	#steps ul li{
		width: 90%;
		margin-left: 10px;
		float: none;
	}

	#items{
		padding-bottom: 0;
	}

	#items h2.sold{
		margin-top: 20px;
	}

	#items #recentlyadded, #items #justsold{
		padding-left: 0;
		height: auto;
		padding-bottom: 5px;
		margin-left: 0;
	}

	#items #recentlyadded li, #items #justsold li{
		display: none;
	}

	#items #recentlyadded li.first, #items #justsold li.first{
		display: block;	
		width: 80%;
		margin-left: 10%;
		padding-bottom: 40px;
		height: auto;
	}

	#items #recentlyadded li.first img, #items #justsold li.first img{
		width: 100%;
		height: auto;
	}	

	#whyus{
		padding-bottom: 20px;
	}

	#whyus h1{
		font-size: 2.0em;
		padding-bottom: 0;
		margin-top: 80px;
	}

	#whyus #left_column{
		display: none;
	}

	#whyus .column{
		width: 85%;
		margin-left: 7.5%;
	}

	#customers{
		padding-bottom: 20px;
	}

	#customers h1{
		padding: 80px 10px;
		padding-bottom: 20px;
		font-size: 2.0em;
	}

	#customers ul{
		margin-left: 10%;
		width: 80%;
		padding-left: 0;
	}

	#customers ul li{
		width: 100%;
		margin-left: 0;
		height: auto;
	}

	#customers ul li.first{
		margin-left: 0;
	}

	#customers ul li .quote_wrapper{
		padding: 15px 20px;
		height: auto;
	}

	#customers ul li .quote_wrapper .arrow-down{
		top: 100%;
	}	

	#customers ul li p{
		margin: 0 0 0 0;
	}
	#customers ul li .circular_wrapper{
		display: none;	
	}

	#notifyme{
		padding-bottom: 50px;
	}

	#notifyme h1{
		font-size: 2.0em;
		margin: 0 0 0 0;
		text-align: center;
		padding: 30px 10px;
	}

	#notifyme h2.green_button{
		margin: 0 0 0 0;
		position: relative;
		top: 0;
		right: 0;
		margin-left: calc(50% - 70px);
	}

	footer{
		padding: 20px 0;
	}

	footer ul{
		float: none;
		overflow: hidden;
		padding: 20px 5px;
	}

	footer span{
		margin: 0 0 0 0;
		float: none;
		padding: 0 0;
		width: 85%;
		margin-left: 7.5%;
		text-align: center;
	}

}